@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'themes';

:root {
  --primary-color: #0052dd;
  --secondary-color: #3855C1;
  --white: #FFFFFF;
  --black: #000000;
  --icon-color: #B9BFDD;
  --success-color: #12B76A;
  --warning-color: #CDA94C;

  --red-button: #D92D20;
  --red-button-hover: #FFDAD6;
  --red-button-hover-text: #BA1A1A;

  --green-button: #039855;
  --green-button-hover: #6CE9A6;



  --shadow-1: rgba(0, 0, 0, 0.25);
  --shadow-2: rgba(0, 0, 0, 0.5);

  --grey-light-color-1: #F0F0FA;
  --grey-light-color-2: #F5F5F5;
  --grey-light-color-3: #F4EFF4;

  --grey-dark-color-1: #919094;
  --grey-dark-color-2: #ACAAAF;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
