[theme="light"] {
  --background-1: #ffffff;
  --background-2: #fefbff;
  --grey-shadow: rgba(0, 0, 0, 0.25);
  --primary-color: #0052dd;
  --secondary-color: #3855C1;
}

[theme="dark"] {
  --background-1: #23222a;
  --background-2: #15141a;
  --grey-shadow: rgba(241, 241, 241, 0.25);
  --primary-color: #8CA8FF;
  --secondary-color: #92A6FF;
}
