h1 {
  margin: 1rem;
}

.content {
  padding-top: 12rem;
}

.main-view {
  background-color: var(--background-1);
}

@media (min-width: 570px) {
  .content {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
  }
}

@media (min-width: 1101px) {
  .content {
    padding-top: 7rem;
  }
}
